.todolist {
  background-color: bisque;
  margin: 30px;

  .todolistTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .filterButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .activeFilter{
      background-color: cadetblue;
    }
  }



}