.todolist {
  background-color: white;
  margin: 30px;
  

  .todolistTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .filterButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: black;

    .activeFilter{
      background-color: cadetblue;
    }
    .isDone {
      opacity: 0.5;
    }
  }



}