.todolist {
  background-color: bisque;
  margin: 30px;

  .error {
    border: 1px solid red;
  }

  .errorMsg {
    color: red;
  }

  .activeFilter {
    background-color: darksalmon;
  }

  .isDone {
    opacity: 0.5;
  }
}