.todolistsContainer {
  background-color: indianred;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .todolists {
    background-color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .isDone {
      opacity: 0.5;
    }
  }
}
